[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0103, # invalid-name
    C0301, # line-too-long
    W0622, # redefined-builtin
    W0631, # undefined-loop-variable
